#include <winver.h>
#include <ntdef.h>

#if CONF_DEBUG
#define VER_DEBUG VS_FF_DEBUG
#else
#define VER_DEBUG 0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION       19,3,0,0
PRODUCTVERSION    19,3,0,0
FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
FILEFLAGS         VER_DEBUG
FILEOS            VOS__WINDOWS32
FILETYPE          VFT_APP
FILESUBTYPE       VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
		VALUE "Comments",         "DDNet-Server\0"
		VALUE "CompanyName",      "DDNet Team\0"
		VALUE "FileDescription",  "DDNet-Server\0"
		VALUE "FileVersion",      "19.3\0"
		VALUE "InternalName",     "DDNet-Server\0"
		VALUE "LegalCopyright",   "Copyright (C) DDNet Team\0"
		VALUE "OriginalFilename", "DDNet-Server.exe\0"
		VALUE "ProductName",      "DDNet-Server\0"
		VALUE "ProductVersion",   "19.3\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END
